body {
    background-color: lightgray;
    font-family: sans-serif;
}
.header {
    background-color: rgb(133, 178, 216);
    padding: 10px 20px;
}
h1 {
    display: inline;
    font-size: 20px;
    margin-top: 10px;
    padding-right: 300px;
}
nav {
    display: inline;
    font-size: 20px;
    margin: 30px;
    padding: 20px 20px;
}
h2 {
    font-size: 18px;
    text-align: center;
}
.quote {
    font-style: italic;
    font-size: 18px;
}
img {
    width: 275px;
}
.about {
    text-align: justify;
}
.project {
    text-align: right;
    background-color: rgb(185, 220, 248);
    padding: 8px;
    margin: 15px;
}